* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image:url(geemail-background.jpg);
    margin-top: 20px;
}
h1, h3{
    color: white;
    margin-left: 30px
}

.menu-container{
  color: #fff;
  background-color: #5995DA;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 1400px;
}
.container {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.title {
    display: flex;
    justify-content: space-between;
}
.contents{
    float:left;
    height: 600px;
    padding-top: 10px;
}
 #sender-contents {
    background-color: greenyellow;
    width: 20%;
}

 #subject-contents {
    background-color: aqua;
    width: 55%;
}

 #date-contents {
    background-color: mediumvioletred;
    width: 15%; 
}

 #inbox-contents {
    background-color: fuchsia;
    width: 10%;
}
