body {
	margin: 0;
}


header {
	background: green;
	color: yellow;
	padding: 5px;
}

#today{
	color: yellow;
}

#menu {
	float: left;
	width: 100px;
	height: 800px;
	background-color: orange;
	padding: 10px;
	font-weight: bold;
}

#main {
	float: left;
	width: 1000px;
	height: 800px;
}

#row2{
	display: none;
}
